#ALL
node_modules/
**/node_modules/

# Angular
/dist
/.angular
/.anon

#Electron
electron/build/
electron/build_resources/
electron/dist/
electron/node/

#Node
node/public
node/src/public/

#IDE
.vscode
/.idea

# Logs
npm-debug.log
yarn-error.log
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production

