<div class="img-reader">
  <div class="toolbar">
    <button (click)="goFirstPage()">‹‹</button>
    <button (click)="goPrevPage()">‹</button>

    <input #pageInput
      type="number"
      [value]="state.currentPage"
      (focus)="onInputFocus(pageInput)"
      (change)="onPageInput($event)"
    />

    <span>/ {{ state.totalPages }}</span>

    <button (click)="goNextPage()">›</button>
    <button (click)="goLastPage()">››</button>

    @if (!state.loadingDone) {
      <div class="progress-wrapper">
        <div class="progress-text">{{ state.loadingProgress }}%</div>

        <div class="progress-bar">
          <div class="progress-fill"
               [style.width.%]="state.loadingProgress"></div>
        </div>
      </div>
    }

  </div>


  <div class="content">
    <div class="pages" #pagesContainer>
      @for (p of state.allPages; track p.index) {
        <img
          class="page-img"
          [src]="p.url"
          [attr.data-index]="p.index"
          [alt]="p.index"
        />
      }
    </div>

    <div class="thumbnails" #thumbsContainer>
      @for (p of state.allPages; track p.index) {
        <img
          class="thumb"
          [class.active]="state.currentPage === p.index"
          [src]="p.url"
          [attr.data-index]="p.index"
          [title]="p.index"
          (click)="onThumbClick(p.index)"
        />
      }
    </div>
  </div>
</div>
