.reader {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.thumbnails {
  width: 140px;
  padding: 10px 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-right: 1px solid #ddd;
  overflow-x: hidden;

  .thumb {
    width: 120px;
    aspect-ratio: 3 / 4;
    object-fit: contain;
    background: #f9f9f9;
    border: 1px solid #bbb;
    border-radius: 3px;
    cursor: pointer;

    &.active {
      border-color: #007bff;
      box-shadow: 0 0 4px #007bff;
    }
  }
}

.pages-container {
  flex: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  background: #fff;
}

.page-canvas {
  max-width: 90%;
  height: auto;
  opacity: 1;
  border-radius: 4px;
  transition: box-shadow 0.25s ease, transform 0.15s ease;
  box-shadow: 0 0 12px rgba(10, 10, 10, 0.45);

  &.active-page {
    //box-shadow: 0 0 12px rgba(0, 120, 255, 0.45);
    //transform: scale(1.01);
  }
}

.page-canvas.loading {
  opacity: 0;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 10;

  height: 48px;
  background: #fff;
  border-bottom: 1px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 0 10px;

  .nav-btn {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #bbb;
    background: #f8f8f8;
    cursor: pointer;
    font-size: 22px;
    line-height: 0;
    transition: background .15s, border-color .15s;

    &:hover {
      background: #eee;
      border-color: #888;
    }
  }

  .page-input {
    display: flex;
    align-items: center;
    gap: 6px;

    input {
      width: 70px;
      padding: 4px 6px;
      font-size: 16px;
      border: 1px solid #aaa;
      border-radius: 4px;
    }
  }

}

.helper {
  border: 1px solid red;
  top: 60px;
  position: absolute;
  left: 0;
}
